#buscador_todos {

    text-align:center;
    padding:10px;
    background: #ee7752;
    margin-top:0px;
    margin-bottom:0px;
}
p#buscador_todos > input {
    width: 200px;
    padding: 5px;
}