.App {
  text-align: center;
}
.textCenter {text-align:center;}
.textLeft {text-align:left;}
.textRight {text-align:right;}
.marginRight10 {margin-right:10px;}
body {
  background:#dedede;
  height:100%;
}
#root {
  background:white;
  border:1px solid black;
  width:400px;
  max-width:100%;
  margin:0px auto;
  margin-top:50px;
  font-family:Montserrat;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
