.textCenter {text-align:center;}
.textLeft {text-align:left;}
.textRight {text-align:right;}
.marginRight10 {margin-right:10px;}

body {
	background: #23d5ab;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin:0px;
}
#root {background:white;
  padding-bottom:5px;
  width:600px;
  max-width:100%;margin:0px auto;
  margin-top:25px;}
div#contenido > h1 {
  margin-bottom: 15px;
  font-weight: 900;
  text-align: center;
}



